/*:root{
    --text-color:black;
    --background-color:#263343;
    --accent-color:pink;
}*/
body{
    margin: 0;
    font-family: 'Source Sans Pro';
    
}
a{text-decoration: none;
    color:white}
img{max-width: 100%;}
.title{
    font-size: 50px;
    text-align: center;
    padding-left: 0;
}
.title2{
    font-size: 30px;
    text-align: center;
    

}

.navbar{
    display : flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding: 8px 20px;
}
.wrapper{
    max-width: 1100px;
    margin:0 auto;
    padding:0;
   
}
.content{
    display:flex;
    justify-content: space-between;
}
.navbar_logo{
    font-size: 24px;
}
.navbar_logo i{
   color:#d49466 
}
.navbar_menu{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navbar_menu li{
    padding:8px 12px;
    text-transform: uppercase;
}
.navbar_icons{
    list-style: none;
    color:white;
    display: flex;
    padding-left: 0;
    }
.navbar_icons li{
    padding: 8px 12px;
}
.navbar_menu li:hover{
    background-color: #d49466;
    border-radius: 4px;
}
.navbar_toogleBtn{
    display: none;
    position:absolute;
    right: 32px;
    font-size: 24px;
    color:orange
}
.post-sub{
    font-size: 25px;
}
.sub-title{
    display: flex;
    justify-content: space-between;
}
.sub-title i{
    width: 100%;
}
.sub-title{
    font-size: 2rem;
    padding: 0 8px 8px;
    color:black;
    font-weight: bold;
    border-bottom: 2px #0bd solid;
    margin-left: 30px;
    text-align: left;
    }
.sub-list{
    list-style: none;
    margin-bottom: 1px;
    font-size: 20px;
    text-align: left;
}
.sub-list li{
    border-bottom: 1px #ddd solid;
}
.sub-list a{
    color: black;
}
.sub-list a:hover{
    color:aqua;
}
article{
    width: 80%;
}
aside{
    width: 50%;
}
article img{
    margin-bottom:20px;
}
.aside img{
    margin-left: 10rem;
}
@media screen and (max-width:760px){
    .wrapper{
        padding : 0 1rem 0;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 12px;
    }
    .navbar_menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width:100%
    }
    .navbar_menu li{
        width:100%;
        text-align: center;
    }
    .navbar_icons{
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar_toogleBtn{
        display: block;
    }
    .navbar_menu.active,
    .navbar_icons.active{
        display:flex;
    }
    .aside img{
        width: 100%;
        margin-left: 2rem;
        padding: 0.25rem 1rem 0;
    }

    .sub-title{
        line-height: 1;
        font-size: 2rem;
    } 
    .sub-list{
        width:100%;padding:0.25rem 1.2rem 1rem; font-size: 1.24rem;
    }
}